<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David's Personal API</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
          <div class="container">
            <h1>Welcome to tunely</h1>
            <p>Your music binder!</p>
          </div>
        </div>
        <!--  BEGIN FORM  -->
        <section class="container">
          <div class="row">
            <section id='album-form' class="container">
              <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <form class="form-horizontal" id="form">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>Add New Album</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="name">Album Name</label>
                      <div class="col-md-4">
                      <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="artistName">Artist Name</label>
                      <div class="col-md-4">
                      <input id="textinput" name="artistName" type="text" placeholder="" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
                      <div class="col-md-4">
                      <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
                      <div class="col-md-4">
                        <textarea class="form-control" id="genres" name="genres">rock, pop</textarea>
                      </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
                      <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              </div>
            </section>
           </div>
        </section>
        <!--   END FORM  -->


  </body>
</html>
