<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David's Personal API</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
          <div class="container">
            <h1>April Fools Ya'll</h1>
            <p>Best Of 2018!</p>
          </div>
        </div>
        <!--  BEGIN FORM  -->
        <section class="container">
          <div class="row">
            <section id='joke-form' class="container">
              <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <form class="form-horizontal" id="form">
                  <fieldset>

                    <!-- Form Name -->
                    <legend>What was your favorite prank of April Fools Day?</legend>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="name">Name</label>
                      <div class="col-md-4">
                      <input id="name" name="name" type="text" placeholder="VacuSort" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="description">Description</label>
                      <div class="col-md-4">
                      <input id="description" name="description" type="text" placeholder="Vacuum that sorts by color!" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="company">Company</label>
                      <div class="col-md-4">
                      <input id="company" name="company" type="text" placeholder="Lego" class="form-control input-md" required>

                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="link">Link</label>
                      <div class="col-md-4">
                        <input id="link" name="link" type="text" placeholder="http://" class="form-control input-md" required>
                      </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="singlebutton">It's the best!</label>
                      <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              </div>
            </section>
           </div>
        </section>
        <!--   END FORM  -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Pranks</h2>
        </div>
      </div>
      <!-- April Fools! -->
      <div id="jokes">

      </div>
    </section>


  </body>
</html>
